#nav {
    background-color: var(--clr-primary) !important;
  }

#contact-form {

   }

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100vw;
    max-width: var(--pg-width);
    margin: 0 auto;
}

#contact-form label { 
    border-radius: 5px;
    font-family: var(--font);
}

input {
    height: 70px;
    width: 300px;
    padding: 1rem;
    font-family: var(--font);
    font-size: 1.1rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
}

textarea {
    height: 15rem;
    padding: 1rem;
    font-family: var(--font);
    font-size: 1.1rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
    max-width: var(--pg-width);
}

h1 {
    padding-top: 100px;
    padding-bottom: 2rem;
}

.hero p {
    font-family: var(--font);
    font-size: 1.3rem;
    line-height: 2.5rem;
}


.hero {
    max-width: var(--pg-width);
    margin: 0 auto;
    margin-bottom: 2rem;
}

h3 {
    color: var(--clr-primary)
}

.text {
    max-width: 800px;
}