#nav {
    background-color: var(--clr-primary) !important;
  }

#contact-form {
    max-width: var(--pg-width);
        margin: 0 auto;
   }

form {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100vw;
    padding: var(--page-margin);
    max-width: var(--pg-width);
    margin: 0 auto;
}

#contact-form label { 
    border-radius: 5px;
    font-family: var(--font);
}

input {
    height: 5rem;
    padding: 1rem;
    font-family: var(--font);
    font-size: 1.2rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
}

textarea {
    height: 20rem;
    padding: 1.2rem;
    font-family: var(--font);
    font-size: 1.2rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
    max-width: var(--pg-width);
}

h1 {
    padding-top: 250px;
    padding-bottom: 2rem;
}

p {
    font-family: var(--font);
    font-size: 1.5rem;
    line-height: 2.5rem;;
}


.hero {
    padding: var(--page-margin);
    max-width: var(--pg-width);
    margin: 0 auto;
}

h3 {
    color: var(--clr-primary)
}